html {
    box-sizing: border-box;
}
  
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h1, h2, p {
    text-align: center;
}

.image {
    width: 200px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

